@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital@1&family=Playfair+Display:ital@1&display=swap');

@import "pages/contacto";
@import "pages/nosotros";
@import "pages/sostenibilidad";
@import "pages/sugerencia";
@import "mixinmapextend/mapa";
@import "mixinmapextend/mixin";



/*variables */

$salmon: #ff94;
$lemon: #c2e812;
$fuentes: 30px;


/*----HEADER/NAV-----*/



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #659dbd;

    img {
        width: 100px;
        height: auto;

    }
    nav ul{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
    margin-bottom: 5px;
    
    li {
    margin: 15px;

    a{
        text-decoration: none;
        color: white;
    
    
}
}
}
    }

    
/*---- MAIN ----*/

main {
    @include titulos($fuentes);

@include d-column;
background-color: $lemon;

p {
    @include textos(25px, white, none, center);
}
}


.hero {
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.117), rgba(0, 0, 0, 0.194)), url("../Images/portada1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;



    h1{
    font-size: 60px;
    font-weight: bold;


    p{
    font-size: 20px;
    color: white;
}
    }
}


/*-------------- COMO FUNCIONA -------------*/





.como_funciona .howitworks {
    animation-duration: 3s;
    animation-name: Comofunciona;
    animation-iteration-count: infinite;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-right: 50px;


    @keyframes Comofunciona {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fondo_color {
        display: inline-block;
        color: black;
        border-radius: 25px;
        font-weight: bold;
        font-size: 35px;
        padding: 15px;
        text-align:justify;
        margin-top: 50px;
    }
}




.section_one {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-color: white;  


    .productos {
        transition: height 2s;
        background-color:rgb(200, 39, 39);
        width: auto;
        display: inline-block;
        border-radius: 30px;
        padding: 5px;
        color: white;
        width: 150px;
        height: 100px;
        transition: height 2s, width 1s;
    

    .productos {
        &:hover {
            height: 100px;
            width: 200px;
        }
}
    }



    .canales_venta {
        background-color: rgb(255, 115, 0);
        display: inline-block;
        border-radius: 30px;
        padding: 3px;
        color: white;
        width: 180px;
        height: 100px;
        transition: height 2s, width 1s;
    

    .canales_venta {
        &:hover {
            height: 100px;
            width: 200px;
        }
    }
}

    .despacho {
        background-color:#23af60;
        display: inline-block;
        border-radius: 30px;
        padding: 5px;
        color: white;
        width: 150px;
        height: 100px;
        transition: height 2s, width 1s;


    .despacho {
        &:hover {
        height: 100px;
        width: 200px;
        } 
}
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;



    img {
        border-radius: 150px;
        width: auto;
        height: 250px;
        margin-top: 10px;
}
    }

    .tituloParrafo {
        text-decoration: none;
        font-size: 20px;
        margin: 50px;



    h2 {
        line-height: 100px;
        font-size: 30px;
    


     p {
        margin-top: 25px;
        font-weight: lighter;

     }
    }
}
    }






/*-------- COMO FUNCIONA ---------*/




.section_extra {
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.405), rgba(0, 0, 0, 0.405)), url(../Images/portada3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    div > .tituloParrafo2 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    

    a {
    background-color: pink;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
    line-height: 100px;
    border: 2px solid;

}
    }
}

/*---- FOOTER ---- */



.footer {
    @extend .header;
    background-color: rgb(68, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logito {
        width: 300px;
        height: auto;
        border-radius: 50px;
    }
    ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    li {
        margin: 10px;
    
    a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px pink;

    a:hover{
        color: pink;
        transition: 1s;
        text-shadow: none;
        }
    }
}
    }

    .arre1 {
        width: auto;
        height: 40px;

    }
    }


    




