
/*----- CONTACTO -----*/

.main_contacto {
    background-color: white;


.formita {
    max-width: 500px;
    margin-top: 50px;
    margin-left: 50px;


    .form-label {
    margin-top: 5px;
    font-weight: bold;
    border-radius: 10px;
}
}
}