

/*----- SUGERENCIAS -----*/




.sugerencias_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.577), rgba(0, 0, 0, 0.507)), url(../Images/preba1.jpg);
    background-position: center;
    background-size: cover;
    background-color: #F4F4F4;
    height: 80vh;



    h1 {
        font-weight: bold;
        font-size: 50px;



    p {
        font-size: 25px;
        font-weight: lighter;
    }
}
}



.sugerencias_vendedor {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
background-position: center;
background-size: cover;
background-color: white;
contain: content;

    .suge {
        margin-top: 45px;

    .vendedor_prueba {
        display: inline-block;
        color: white;
        background-color: rgba(70, 47, 47, 0.608);
        border-radius: 15px;
        font-weight: lighter;
        font-size: 30px;
        padding: 10px;
        display: flex;
        font-size: 40px;
        font-weight: bold;
        flex-direction: column;
        margin-bottom: 50px;

    h3 {
        display: flex;
        font-size: 40px;
        font-weight: bold;
        flex-direction: column;    
          

    @keyframes casitaferio2 {
        0% {
            opacity: 0;
}
        100% {
            opacity: 1;
}
}
    }
}
    }





     ul {
        display: inline;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        text-align: start;
        font-size: 20px;
        font-weight: lighter;
        align-items: start;
        color: black;
        border-radius: 20px;
        justify-content: center;
        text-align: left;
        padding: 40px;
        
        



     li {
        margin-top: 10px;
        line-height: 50px;
        

    }
}
    }




.sugerencias_comprador {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
background-position: center;
background-size: cover;
height: auto;
background-color: #F4F4F4;
contain: content;


    .suge2 {
        margin-top: 45px;



    .comprador_prueba {
        display: inline-block;
        background-color: rgba(168, 72, 72, 0.603);
        color: rgb(255, 255, 255);
        border-radius: 15px;
        font-weight: lighter;
        font-size: 30px;
        padding: 10px;
        text-align:center;
        display: flex;
        font-size: 40px;
        font-weight: bold;
        flex-direction: column;
        margin-bottom: 50px;

        h3 {
            display: flex;
            font-size: 40px;
            font-weight: bold;
            flex-direction: column;   


    @keyframes casitaferio2 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
}
}






    ul {
        display: inline;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        text-align: start;
        margin-left: 60px;
        font-size: 20px;
        font-weight: lighter;
        align-items: start; 
        color: black;
        border-radius: 20px;
        margin-left: -10px;
        padding-left: 10px;
        justify-content: center;
        text-align: left;
        padding: 40px;




    li {
        margin-top: 10px;
        line-height: 50px;
}
    }
}


